html,body{
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.brand-logo.center{
    display: flex;
    justify-content: center;
    align-items: center !important;
}
form{
    margin-top: 15vh;
}
form button{
    width: 100%;
}